/* First Column Left */
form::after {
    content: '';
    clear: both;
    display: block;
}

form.AddForm {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #cecfd0;
    border-radius: 10px;
    background: rgba(14, 31, 14, 0.954);
}

input.formInput {
    width: 100%;
    height: 30px;
    border: 1px solid #4cad4f;
    border-radius: 5px;
}

form label {
    color: white;
    font-weight: bold;
    text-transform: bold;
}

div.addFormContainer {
    margin-bottom: 15px;
    font-size: 18px;
}

div#userAddContainer {
    padding-top: 100px;
}

button.addBtn {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: bold;
    background: #395a36;
    border: 2px solid;
    color: rgb(236, 227, 227);
    padding: 10px;
    margin-top: 10px;
    float: right;
}

p.responseMessage {
    font-size: 18px;
    text-align: center;
    margin-top: 33px;
    padding: 20px;
}

p.responseMessage_success {
    background: #4cad4f;
}

p.responseMessage_error {
    background: #d05555;
}

/* Second-Column Right */


div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

div.column-5 {
    width: 35.67%;
}

div.column-7 {
    width: 63.33%;
    padding-left: 10px;
}

h2.profiles {
    font-size: 21px;
    color: rgba(0, 0, 0, 0.692);
    border-bottom: 2px solid rgba(0, 0, 0, 0.692);
    padding-bottom: 10px;
    padding: 8px;
    border-left: 4px solid #4cad4f;
    margin-bottom: 15px;
}

thead,
table,
th {
    font-size: 15px;
    text-align: left;
    background: #f4f6f9;
}

table,
td,
th {
    border: 1px solid #cacaca;
    border-collapse: collapse;
}

table {
    width: 100%;
}

td {
    font-size: 13px;
    padding: 2px;
}


p.userCount {
    color: green;
    font-size: 15px;

}

a.subMenuLink{
    padding-left: 25px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
